<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Aplicación de Notas</h1>
  <p class="lead">Aquí podras almacenar distintas notas a tu gusto
    las podras editar, modificar y eliminar</p>
  <hr class="my-4" />
  
  <div>
    <a
      class="btn btn-primary  bg-red2"
      href="/auth/signup"
      role="button"
    >Registrate</a>
  </div>
</div>